<a href="https://colab.research.google.com/github/NGUYEN-CONG-VINH/CODE_TUAN_3/blob/main/B%E1%BA%A3n_sao_c%E1%BB%A7a_setup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
value1 = input('nhap vao so thu nhat: ')
value2 = input('nhap so thu hai: ')
value1+value2
value1 = int(value1)
value2 = int(value2)
value1+value2

nhap vao so thu nhat: 7
nhap so thu hai: 3

10

In [ ]:
#viết vào file
with open ('text.txt', mode='w') as accounts:
  accounts.write('20146183 Nguyen Cong Vinh 10\n')
  accounts.write('20146158 Nguyễn Văn A 6\n')
  accounts.write('20146158 Lê Văn A 8\n')

In [ ]:
#viết vào file
with open ('text1.txt', mode='w') as accounts:
 print('nguyen van a', file = accounts)

In [ ]:
with open ('text.txt', mode = 'r') as accounts:
  print(f"{'MSSV':<10}{'Name':<20}{'Score':>2}")
  for record in accounts:
    MSSV,Name,Score = record.split()
    print(f"{'MSSV':<10}{'Name':<20}{'Score':>2}")

In [ ]:
import pandas as pd
url ='aituan2.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)
dataframe.iloc[:10] 
#dataframe = dataframe.set_index(dataframe['HOVATEN'])
#dataframe.loc['Nguyen Van A']
#dataframe = dataframe.set_index(dataframe['MSSV']) # loc 1 truong du lieu
#dataframe.loc[20146110]
dataframe[dataframe['KHOA']=='CKM'].head(10)
dataframe[(dataframe['KHOA']=='CKM')&(dataframe['HOVATEN']=='Nguyen Van A')].head(10)# loc hai truong du lieu
dataframe['KHOA'].replace('CKM','CO KHI MAY').head(10) # doi ten tu 'ckm' thanh 'co khi may'
print('Diem cao nhat',dataframe['DIEM'].max())
print('Diem thap nhat',dataframe['DIEM'].min())
print('Diem trung binh',dataframe['DIEM'].mean())
print('Diem tong',dataframe['DIEM'].sum())
print('Tong so nguoi',dataframe['DIEM'].count())
# điếm số khoa
dataframe['KHOA'].unique()
# điếm số người trong 1 khoa
dataframe['KHOA'].value_counts()

Diem cao nhat 10
Diem thap nhat 5
Diem trung binh 8.090909090909092
Diem tong 89
Tong so nguoi 11

CKM    4
DDT    3
IN     2
KT     1
XD     1
Name: KHOA, dtype: int64

In [ ]:
# xóa dữ liệu 1 trường
dataframe.drop('MSSV',axis = 1).head(10)

        HOVATEN KHOA  DIEM
0  Nguyen Van A  CKM     8
1  Nguyen Van B  DDT     9
2  Nguyen Van C   IN    10
3  Nguyen Van D  CKM     7
4  Nguyen Van E   KT     8
5  Nguyen Van F   XD     9
6  Nguyen Van I  DDT     5
7  Nguyen Van H  CKM     7
8  Nguyen Van K   IN    10
9  Nguyen Van G  CKM     9

In [ ]:
# xóa dữ liệu nhiều trường
dataframe.drop(['MSSV','KHOA'],axis = 1).head(10)

        HOVATEN  DIEM
0  Nguyen Van A     8
1  Nguyen Van B     9
2  Nguyen Van C    10
3  Nguyen Van D     7
4  Nguyen Van E     8
5  Nguyen Van F     9
6  Nguyen Van I     5
7  Nguyen Van H     7
8  Nguyen Van K    10
9  Nguyen Van G     9

In [ ]:
# xóa theo cột
dataframe.drop(dataframe.columns[2:4],axis = 1).head(10)

In [ ]:
# xóa hàng
dataframe[dataframe['KHOA']!='CKM'].head(10)

In [ ]:
# xóa hàng số 4
dataframe[dataframe.index !=4].head(10)

In [ ]:
# xóa hàng trùng giá trị
dataframe.drop_duplicates().head(10)

In [ ]:
# gọp giá trị trùng trường dữ liệu và đếm số lần trùng
dataframe.groupby('KHOA').count()

In [ ]:
# gọp giá trị trùng trường dữ liệu và đếm số lần trùng (nhiều trường )
dataframe.groupby(['KHOA','DIEM']).count()

In [ ]:
dataframe.groupby('KHOA')['DIEM'].count()

NameError: ignored

In [ ]:
import numpy as np
import pandas as pd
time_index = pd.date_range('01/01/2023',periods=100000,freq='30s')
dataframe = pd.DataFrame(index = time_index)
dataframe['Acess_Amount'] = np.random.randint(1,10,100000)
dataframe.resample('w').sum()

            Acess_Amount
2023-01-01         14473
2023-01-08        100978
2023-01-15        100511
2023-01-22        100574
2023-01-29        101235
2023-02-05         82696